<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <title>About Pony Express</title >
</head>
<body>
    <div style="margin:100px;">
        <p style="border-width:3px; border-style:solid; border-color:#067fd0; padding: 1em;">
            Pony Express is your premier destination for top-quality
            saddles and tack supplies. With a passion for equestrian
            sports and a commitment to excellence, we offer a wide 
            range of products to meet the needs of riders of all levels. 
            Whether you're a seasoned professional or just starting out, 
            Pony Express has everything you need to enjoy a comfortable 
            and successful ride.
        </p>
    </div>
    <style>
        p {text-align: center;}
    </style>
    <p><a href="http://localhost:8080/">Back to Main Screen</a></p>
</body>
</html>