<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">  
    <title>Purchase Error</title >
</head>
<body>
    <div style="margin:100px;">
        <p style="border-width:3px; border-style:solid; border-color:#067fd0; padding: 1em; font-size: 40px; color: red;">
         Your purchase was not completed. Please verify inventory.
        </p>
    </div>
    <style>
        p {text-align: center;}
    </style>
    <p><a href="http://localhost:8080/">Back to Main Screen</a></p>
</body>
</html>
